<h1>Ride da buzz</h1>

<h2>Please enter your route</h2>

<%= form_tag("/findBuses", method: "get") do %>
  <%= label_tag(:route, "Search for:") %>
  <%= text_field_tag(:route) %>
  <%= submit_tag("Search") %>
<% end %>